<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    
    <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost/student"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="teacher" class="com.pkg.demo.Teacher" factory-method="getTeacherObject"></bean> 
	
	<context:annotation-config />
    
    <!-- <bean id='a' class="com.pkg.A">
    	<property name="b" ref="b"></property>
    </bean>
    
    <bean id='b' class="com.pkg.B">
    	<property name="p" value="1"></property>
    	<property name="q" value="2"></property>
    	<property name="r" value="3"></property>
    </bean> -->	
    
    <!-- <context:annotation-config></context:annotation-config>
 -->	
	<!-- Component Scan -->
	<context:component-scan base-package="com.pkg.demo" />
    
</beans>